html, body{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #ecd6ea;
    color: #000000;
    margin: 0px;
    font-family: 'Amiri', serif;
}
#header{
    border: 15px solid #807198;
     padding: 7px;
     margin: 40px;
}
#nav-bar li{
    display: inline-block;
}
#nav-bar li a{
    display: block;
    width: 100%;
    color: rgb(10, 78, 78);
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
}
#nav-bar ul{
    margin: 0;
    padding: 0;
    border: 1px solid rgb(75, 28, 28);
    background-color: #eee4e9;
}
#nav-bar li a:hover :not(.active){
    background-color: rgb(231, 237, 253);
}
#nav-bar li a.active {
    color: rgb(255, 255, 255);
    background-color: #9b5074;
}
#nav-bar .menu_hamburger-icon{
    display: block;
    float: right;
    padding-left: 30px ;
}
#nav-bar.responsive{
position: relative;
}
#nav-bar.responsive{
    position: absolute;
    right: 0;
    top: 0;
}
#nav-bar .menu_hamburger-icon a{
color: #9b5074;
}
 #relatedlinks{
    border: 3px solid rgb(147, 111, 170); flex: 1; 
    padding: 10px 20px 10px 10px;
    background: #f3d9ea; 
    float: left; 
    margin: 8px
}
#content{
    border: 3px solid rgb(147, 111, 170);
    flex: 3; 
    padding: 10px 20px 10px 10px;
    background: #ffffff; 
    float: left; 
    margin: 8px
}
#section2{
    flex: 2; 
    padding: 5px;
    background: #e3c4ff;
}
#section1{
    flex: 2; 
    padding: 5px;
    background: #e3c4ff;
}
#aside{
    float: left; 
    flex: 1; 
    background: #ecd6eacb; 
    margin: rigth flex 2; 
    margin: #ecd6eacb;
}
div{
display: flex;
}
header{
display: flex;
flex-direction: column;
align-items: center;
}
#footer{
padding: 5px;
background: #ddcada;
margin-top: auto;
display: flex;

}
.footer_section{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social_networks{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.social_network{
    display: flex;
    align-items: center;
}
.social_icon-handler{
    margin-left: 10px;
}
.social_icon-container{
    font-size: 25px;
}
input[type=email], textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    transition: 0.5s;
    outline: none;
}
input[type=email]:focus, textarea:focus{
    border: 3px solid #555;
}
input[type=submit]{
    background-color: #d583bc;
    border: none;
    color: black;
    padding: 16px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.full-img{
width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
text-decoration: underline;
text-underline-offset: 3px;
}
.footer_otherpages ul{
    padding: 0 0 0 10px;
}
.footer_otherpages li{
    list-style: none;
}
@media (max-width: 600px) {
    #relatedlinks{
        display: none;
    }
        #nav-bar.responsive {
            position: relative;
        }
    
        #nav-bar.responsive {
            position: relative;
            right: 0;
            top: 0;
        }
    
        #nav-bar.responsive .menu_hamburger-icon {
            color: #fff;
        }
    
        #nav-bar.responsive li {
            float: none;
            display: block !important;
        }
    
        #nav-bar.responsive li a {
            text-align: left;
        }
    
        #nav-bar li:not(:first-child, :last-child) {
            display: none;
        }
    
        #content {
            padding: 10px;
        }
    #footer{
        flex-direction: column;
    }
    .footer_socialnetwork{
        border: 2px solid #000000;
    }
    .footer_contact{
    border: 2px solid #000000;
    border-top: 0px;
}
    .footer_otherpages{
        border: 2px solid #000000;
        border-top: 0px;
    }
    i{
        padding-right: 30px ;
    }
}
@media (min-width: 600px) {
    #nav-bar .menu_hamburger-icon{
        display: none;
    }
}
